body{
    background-color: aqua;
    margin-top: 0px;
}
#main{
    margin-top: 0px;
    width: 1024px;
    height: 900px;
    background-color: blueviolet;
    
    /*padding-top: 20px;
    padding-left: 20px;*/
}
header{
    width: 1024px;
    height: 100px;
    /*display: block;   block은 가로 세로의 크기를 지정할 수 있다*/
    float: left;
    background-color: brown;
    border-bottom: 5px solid;
}
nav{
    width:1024px;
    height: 50px;
    background-color: green;
    float: left;
}
nav ul li{
    display: inline;
    margin-left: 15px;
}
section{
    width:820px;
    height: 500px;
    background-color: cadetblue;
    float: left;
}
#loginBox{
    width: 200px;
    height: 300px;
    background-color: chartreuse;
    float: left;
}
#etc{
    width: 200px;
    height: 200px;
    background-color: rgb(53, 33, 109);
    float: left;
}
footer{
    width:1024px;
    height: 70px;
    background-color: coral;
    float: left;
    padding-top: 20px;
    text-align: center;
    box-sizing: border-box;
}

nav ul li a{
    text-decoration:none;
    color:white;
}

nav ul li a:hover{/*마우스가 위로 올라갔을 때*/
    background-color: gray;
}
table{
    margin-top: 10px;
    margin-left: 7px;
    text-align: center;
}
table a{
    text-decoration: none;
}
section #s1{
    width: 400px;
    height:500px;
    background-color: crimson;
    padding-left: 20px;
    float: left;
}
section #s2{
    width: 400px;
    height:500px;
    background-color: darkkhaki;
    float: left;
}